<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Add About Us</h4> 
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Add "About Us"</div>
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <%= form_for @about_u do |form| %>
                                    <div class="form-body">
                                        <h3 class="box-title">About Us</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="">Text area</label>
                                                    <div class="col-md-12">
                                                        <%= form.text_area :description, class: "form-control" %>
                                                    </div> 
                                                </div>
                                                <div class="col-md-3">
                                                    <h3 class="box-title m-t-20">Upload Image</h3>
                                                    <img id="img_prev" src="#" alt="your image" />
                                                    <div class="product-img">
                                                        <%= form.file_field :image, onchange: "readURL(this);", class: "fileupload btn btn-info waves-effect waves-light" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions m-t-40">
                                            <%= form.submit "save", class:"btn btn-success " %>
                                            <%= link_to "Cancel", products_path, class: "btn btn-default" %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
              .width(150)
              .height(200);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>