<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @about_u.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @about_u.image %>
</p>

<%= link_to 'Edit', edit_about_u_path(@about_u) %> |
<%= link_to 'Back', about_us_path %>
