<p id="notice"><%= notice %></p>

<p>
  <strong>First term:</strong>
  <%= @term.first_term %>
</p>

<p>
  <strong>Second term:</strong>
  <%= @term.second_term %>
</p>

<p>
  <strong>Third term:</strong>
  <%= @term.third_term %>
</p>

<p>
  <strong>Fourth term:</strong>
  <%= @term.fourth_term %>
</p>

<p>
  <strong>Fivth term:</strong>
  <%= @term.fivth_term %>
</p>

<p>
  <strong>Sixth term:</strong>
  <%= @term.sixth_term %>
</p>

<p>
  <strong>Seventh term:</strong>
  <%= @term.seventh_term %>
</p>

<p>
  <strong>Eight term:</strong>
  <%= @term.eight_term %>
</p>

<p>
  <strong>Ninth term:</strong>
  <%= @term.ninth_term %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
