<p id="notice"><%= notice %></p>

<h1>Contact Us</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Contact num</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us.each do |contact_u| %>
      <tr>
        <td><%= contact_u.address %></td>
        <td><%= contact_u.contact_num %></td>
        <td><%= contact_u.email %></td>
        <td><%= link_to 'Show', contact_u %></td>
        <td><%= link_to 'Edit', edit_contact_u_path(contact_u) %></td>
        <td><%= link_to 'Destroy', contact_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact U', new_contact_u_path %>
